email=ningarajbasavarajyalameli@gmail.com
always-auth=true
#//registry.npmjs.org/:_auth=YWRtaW46TmluZ2FyYWoxNw==

http://registry.npmjs.org/:_auth=YWRtaW46TmluZ2FyYWoxNw==
#strict-ssl = false
#_auth=YWRtaW46TmluZ2FyYWoxNw==
#registry-url: "https://registry.npmjs.org"
#registry=http://65.2.186.199:9600/ningaraj/repository/mss-nodejs-repo/

allowRepublish=true

