email=ningarajbasavarajyalameli@gmail.com
always-auth=true
#_auth=YWRtaW46TmluZ2FyYWoxNw==
#http://registry.npmjs.org/:_auth=YWRtaW46TmluZ2FyYWoxNw==
#strict-ssl = false
#registry: "http://65.2.186.199:9600/ningaraj/repository/nodejs-sample-report/"

allowRepublish=true

registry=https://mygitdomain.tld/api/packages/myorg/npm/
//mygitdomain.tld/api/packages/myorg/npm/:_authToken=YWRtaW46TmluZ2FyYWoxNw==
//mygitdomain.tld/api/packages/npm/:_authToken=YWRtaW46TmluZ2FyYWoxNw==

